<div class="section section-contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">

        <div class="form-group">
          <div class:="class:" "text-gray" %="%">
            <%= @blog.title %>
          </div>
        </div>

        <div class="form-group">
          <div class:="class:" "text-gray" %="%">
            <%= @blog.body %>
          </div>
        </div>

        <%= render 'comments/comment_form' %>

        <%= render @blog.comments %>

        <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
        |
        <%= link_to 'Back', blogs_path %>
      </div>
    </div>
  </div>
</div>
