<div class="card" >
  <%= image_tag portfolio_img(portfolio_item.thumb_img, 'thumb') %>
  <p class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
    <%= portfolio_item.subtitle %></p>
</div>

<!-- <p><%= portfolio_item.body %></p> -->

<!-- <td><%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %><td> <td><%= link_to 'Delete post', portfolio_item, method: :delete, data: { confirm: 'you can still do callbacks but youre DELETING THIS' } if
logged_in?(:site_admin)%></td> -->
