<div class="section section-contact-form">
<div class="container portfolio-form">
<div class="portfolio-form container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_img, width: "100%" %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>
      <hr>
      <h3>Tech Used:</h3>

      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

    </div>
  </div>
</div>
</div></div>
