<div class="section section-header section-header-about">
    <div class="parallax filter filter-color-black">

          <%= image_tag "header-12.jpeg" %>

        <div class="container">
            <div class="content">
                <h1>About me</h1>
                <h3 class="subtitle">How I Started the Journey</h3>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h5 class="subtitle text-gray">Est. 2017</h5>
                        <h2>Who am I</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>Dreams will manifest. I stand with the utmost humility. I started my journey not knowing who am I to reading books about code. I've always wanted to build something that can change peoples lives, so they can worry about the things that they love to do which makes them happier. And here I am building websites and figuring out how to build software.</p>
                        <p>I would love to work with you because you will love my work the passion I bring into my code.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="card card-plain">
                                <%= image_tag "office-1.jpeg" %>
                            </div>
                            <div class="card card-plain">
                                <%= image_tag "office-3.jpeg" %>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card card-plain">
                                <%= image_tag "project-5.jpg" %>
                            </div>
                            <div class="card card-plain">
                                <%= image_tag "office-4.jpeg" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>My Services</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">I build fast and robust wep apps. I promise to deliver a new look and most importantly, a new attitude</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="info-icon">
                    <div class="icon text-warning">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h3>Payments</h3>
                    <p class="description">As a Full-Stack Developer, I'm passionate about building Software in the world of fintech(Finance and Technology) startups</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h3>PHP/Ruby</h3>
                    <p class="description">Coming from a Ruby On Rails Web framework, I can build robust pages using PHP Web framework Laravel</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <h3>JavaScript</h3>
                    <p class="description">I'm comfortable with front end javascript frameworks like jQuery, React. I create magic for each page that users will keep coming back to your web apps</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-music"></i>
                    </div>
                    <h3>Design</h3>
                    <p class="description">Having an eye for design is a natural talent, it's something deep in your perception. I'm confident I can deliver any design principles in any platform of the web stack</p>
                </div>
            </div>
        </div>
    </div>
</div>
