<div class="section section-header">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image:       url('https://images.unsplash.com/photo-1449247613801-ab06418e2861?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb80a15068b7e5da425b33750319daaa')"></div>
    <div class="container">
      <div class="content">
        <p>
          <span>by
          </span>Ang</p>
        <h1>Home Page</h1>

        <div class="separator-container">
          <div class="separator line-separator">♦</div>
        </div>

      </div>
    </div>
  </div>

  <a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
    <i class="fa fa-angle-down"></i>
  </a>
</div>

<div class="section" id="firstSection">
  <div class="container">
    <div class="title-area">
      <h2>Our company will take your startup to the next level for sure!</h2>
      <div class="separator separator-danger">♦</div>
      <p class="description">
        Our company is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!
      </p>
    </div>
  </div>

  
</div>

<div class="section section-our-projects section-our-projects-fluid">

  <div class="title-area">
    <h5 class="subtitle text-gray">Here you can check</h5>
    <h2>My Projects</h2>
    <div class="separator separator-danger">♦</div>
    <p class="description">
      Utah has eliminated homelessness by 91% It wasn’t any Kanyes I even had the pink polo I thought I was Kanye They think we're stupid. They do not know how to communicate.
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="https://skyplanet.herokuapp.com">
            <div class="content">
              <label class="label label-danger label-fill">Website Redesign</label>
              <h3>Famous Website Redesign</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="#gaia">
            <div class="content">
              <label class="label label-success label-fill">Desktop Development</label>
              <h3>Desktop App</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="#gaia">
            <div class="content">
              <label class="label label-danger label-fill">Marketing</label>
              <h3>Social Marketing</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="#gaia">
            <div class="content">
              <label class="label label-danger label-fill">Website Redesign</label>
              <h3>Behance Redesign</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="#gaia">
            <div class="content">
              <label class="label label-info label-fill">App Development</label>
              <h3>Analytics App Android</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="project">
          <%= image_tag "project-1.jpg" %>
          <a class="over-area" href="#gaia">
            <div class="content">
              <label class="label label-danger label-fill">Marketing</label>
              <h3>Social Marketing</h3>
              <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanye.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
