<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">



      <!--     Fonts and icons     -->
      <link href='https://fonts.googleapis.com/css?family=Cambo|Lato:400,700' rel='stylesheet' type='text/css'>
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

      <!-- from rails project -->
      <%= stylesheet_link_tag    'gaia', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

<body>


        <%= render 'shared/application_nav' %>

        <%= yield %>

        <%= render 'shared/footer' %>

         <%= alerts %>

        

</body>
</html>
